.navbar_horizontal {
    overflow: hidden;
    background-color: #333;
}

.navbar_horizontal a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown_nav {
    float: left;
    overflow: hidden;
}

.dropdown_nav .dropbtn_nav {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar_horizontal a:hover, .dropdown_nav:hover .dropbtn_nav {
    background-color: red;
}

.dropdown-content_nav {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content_nav a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content_nav a:hover {
    background-color: #ddd;
}

.dropdown_nav:hover .dropdown-content_nav {
    display: block;
}


.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

